.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
dev.tests/
out.manuscript/
src/stan_files/*.o
src/stan_files/*.so
src/stan_files/*.dll
src/stan_files/*.hpp
src/stan_files/*.rds
*.RData
*sampling_M*_*.csv
